<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="cataloginventory_stock_item_save_before">-->
<!--        <observer name="ced_goodmarket_inventory_save_before" instance="Ced\GoodMarket\Observer\ProductSaveBefore"/>-->
<!--    </event>-->
<!--    <event name="cataloginventory_stock_item_save_after">-->
<!--        <observer name="ced_goodmarket_inventory_save_after" instance="Ced\GoodMarket\Observer\ProductSaveAfter"/>-->
<!--    </event>-->
    <event name="adminhtml_block_html_before">
        <observer name="ced_integrator_dynamic_menu" instance="Ced\GoodMarket\Observer\Menu\AdminhtmlBlockHtmlBefore" />
    </event>
</config>